.bg-half-black {
  background-color: #0000007b;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.3);
}

.text-link {
  color: #1967db;
  text-decoration: underline;
  font-weight: bold;
}

.bg-light-blue {
  background-color: #0f5160;
  box-shadow: 0px 12px 16px #000;
}

.input-style {
  background-color: rgba(245, 245, 245, 0.557) !important;
}
.custom-placeholder::placeholder {
  color: #6c757d !important;
  opacity: 1 !important;
}

/* new */
.top-img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin: 12px auto;
}

.top-img {
  border-radius: 50%;
  height: 70px;

  width: 70px;
}
.remember-me {
  padding: 4px 8px;
  margin-left: 25px;
  margin-top: 14px;
}
.text-gray {
  color: gray;
  font-weight: bold;
}
