.user-info-top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-balance {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 24px;
  border-radius: 8px;
  margin: 10px auto;
}

.me-logout-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  background-color: white;
  padding: 12px 10px;
  border-radius: 8px;
  color: #0f5160;
}

.me-icon {
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f5160;
}

/* swap page */
.swap-container {
  border-radius: 10px;
  padding: 2rem;
  background-color: #383847;
  max-width: 650px;
  margin: 30px 28px;
}
.swap-container-btn {
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 28px;
}
.pi-coin {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.pi-text {
  font-size: 1.4rem;
  color: #0f5160;
}
.input-container {
  padding: 6px 12px;
  background-color: whitesmoke;
  border-radius: 8px;
}
.bg-filled {
  background-color: #0f5160;
  color: white;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 50%;
}
.input-text {
  color: #0f5160;
  font-weight: bold;
}
.pi-banner {
  width: 100%;
  border-radius: 10px;
  height: 150px;
}
