.user-info-top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-balance {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 24px;
  border-radius: 8px;
  margin: 10px auto;
}

.me-logout-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  background-color: transparent;
  padding: 10px 3px;
}

.me-icon {
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f5160;
}
